table {
  tbody {
    tr {
      height: 28px;
      cursor: pointer;

      &:hover {
        background: beige;
      }

      &.selected {
        background: beige;
        cursor: default;
      }
    }
  }
}
